.directory
build*
*.user
*.autosave
*.kdev4
*.kate-swp
.idea
*__pycache__*
*.o
./ocl_add_numbers/add_numbers_ocl
./image_histogram/img_hist
./pi/pi_mc
./lcs/lcs_ocl_2
./lcs/lcs_ocl_1
./lcs/lcs
./pi_ocl/calc_pi_ocl
*.a
./mandelbrot/mandelbrot
./ocl_mandelbrot/mandelbrot_ocl

